{% extends '/backOffice/home.html.twig' %}

{% block title %}Modifier Cours{% endblock %}

{% block content %}
    <h1>Modifier Cours</h1>

    {{ include('cours/form.html.twig', {'button_label': 'Update'}) }}

    {{ include('cours/delete.html.twig') }}
{% endblock %}
