{% extends '/backOffice/home.html.twig' %}

{% block title %}Modifier Certificat{% endblock %}

{% block content %}
    <h1>Modifier Certificat</h1>

    {{ include('certificat/form.html.twig', {'button_label': 'Update'}) }}

    {{ include('certificat/delete.html.twig') }}
{% endblock %}
